#friends-display-link {
  display: block;
  text-align: center;
  background-color: rgba(248, 248, 248, 0.89);
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(216, 216, 216, 0.815);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}

.friends_screen__channel-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
}

.fa-chevron-up {
  position: relative;
  top: 7px;
}
