.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: white;
  font-weight: 400;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
}

.small-badge {
  position: absolute;
  display: block;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
}
