.friends-screen {
  padding: 0px var(--horizontal-space);
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: rgba(0, 0, 0, 0.4);
  bottom: 11px;
}

.user-component {
  position: relative;
  justify-content: space-between;
  margin: 15px 0px;
}

.user-component__avatar {
  object-fit: cover;
  width: 70px;
  height: 70px;
  border-radius: 35%;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: var(--gray);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
}

.user-component__more {
  position: relative;
  top: 9.5px;
}

.user-component__text span {
  position: relative;
  display: flex;
}

.user-component__text span > i {
  position: absolute;
  left: 152px;
  top: 8px;
}
